@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #2D2E32;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
}
header {
    padding: 1rem 2rem;
    background-color: #25262A;
    margin-bottom: 20px;
}

p {
    max-width: 600px;
    font-size: 1rem;
}

.list-no-bullet {
    list-style-type: none;
    text-align: right;
}

.list-inline {
    display: inline;
    padding: 1rem 0.5rem;
    text-align: right;
}

.link-nav {
    text-decoration: none;
    color: white;
}

.link {
    color: white;
    font-size: large;
    font-weight: bold;
}

.text-highlighter {
    color: #64F4AC;
}

.box-dec {
    margin: 20px 10px;
    padding: 10px;
    border: 2px solid;
    display: block;
    border-color: #64F4AC;
    border-radius: 5px;
    max-width: 200px;
    text-align: center;
}

.img-hero {
    max-width: 200px;
    max-height: 500px;
    border-radius: 30%;
    text-align: center;
    display: block;
    margin: auto;
    padding: 30px;
}

.center {
    display: block;
    text-align: center;
    margin: auto;
}

.tech-section {
    background-color:  #25262A;
    padding: 100px 50px;
    margin-top: 50px;
}

.tech-container {
    background-color: #2D2E32;
    width: calc(100% / 7);
    text-align: center;
    border-radius: 5px;
    margin: 1rem;
    display: inline-block;
    padding: 1rem;
    box-shadow: 10px 10px #2A6648;
    
}

.thumb-img {
    max-width: 50px;
}

.projects {
    padding: 20px 50px 70px 50px;
}

.blogs {
    background-color: #25262A;
    padding: 20px 50px 70px 50px;
}

.social {
    list-style-type: none;
}

footer {
    padding-bottom: 10px;
}

.social .footer-inline {
    display: inline;
    padding: 0rem 1rem;
}